owner:package_owner@redhat.com
manager:package_owner_manager@redhat.com
qe:package_qe@redhat.com
bugzilla_login:bugzilla@redhat.com
bugzilla_api_key:xxStringfromAPIkeysinUserPrefs
centos_fork:git@gitlab.com:package_owner/ca-certificates.git
#firefox:91
#version:2.48
