owner:package_owner@redhat.com
manager:package_owner_manager@redhat.com
qe:package_qe@redhat.com
jira_url:https://issues.redhat.com
jira_api_key:xxStringFromJiraProfilePersonalAccessTokens
centos_fork:git@gitlab.com:package_owner/ca-certificates.git
glab_url_base:https://gitlab.com/
glab_api_key:XXXXX-XXXXXXXX-XXXX-XXXXXX
#firefox:91
#version:2.48
